.slick-dots {
  bottom: 25px !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white !important;
  font-size: 15px;
  border: 1px solid white;
  background: #fff;
  border-radius: 50%;

}
.slick-dots li button:before {
  color: transparent !important;
  border: 2px solid white;
  font-size: 15px;
  border-radius: 50%;
}
